// Colors Primary
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Colors Neutral
$veryDarkBlueMainBG: hsl(217, 54%, 11%);
$veryDarkBlueCardBG: #15263F;
$veryDarkBlueLine: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// Font size
$font-md: 1.125rem; // 18px
